/* 标签页容器 */
.kb-config-container {
    margin-top: 50px;
    background: white;
    max-width: 1000px;
    margin: 0 auto;
    width: 96%;
    height: 96%;
    font-size: 14px;
}

/* 标签导航 */
.kb-config-tab-nav {
    display: flex;
    border-bottom: 0px solid #eee;
    padding: 0 1rem;
}

.kb-config-tab-btn {
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    background: none;
    font-weight: 500;
    color: #666;
    transition: all 0.3s;
}

.kb-config-tab-btn.active {
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
}

/* 内容区域 */
.kb-config-tab-content {
    padding: 2rem;
    width:100%;
    min-height: 400px;
}